script(src="https://kit.fontawesome.com/15f24667ff.js" crossorigin="anonymous")
footer.footer
    .footer-content
        .footer-section.footer-about
            h3.footer-logo 📚 Readify
            p.footer-tagline Every book starts a new journey
            .footer-address
                i.fa-solid.fa-location-dot
                span 10 Dan Phuong, Tan Binh, Thach That, Hanoi, Vietnam
            .footer-address
                i.fa-solid.fa-phone
                span 0123456789

        //- .footer-section.footer-links
        //-     h4 Quick Links
        //-     ul
        //-         li: a(href="/product") Shop Books
        //-         li: a(href="/about") About Us
        //-         li: a(href="/contact") Contact
        //-         li: a(href="/faq") FAQ

        .footer-section.footer-connect
            h4 Connect With Us
            .social-icons
                a(href="https://youtu.be/dVx6cHFqXs8?si=YF6UzTkg9eQEftW_" target="_blank" rel="noopener")
                    i.fa-brands.fa-facebook
                a(href="https://youtu.be/dVx6cHFqXs8?si=YF6UzTkg9eQEftW_" target="_blank" rel="noopener")
                    i.fa-brands.fa-instagram
                a(href="https://youtu.be/dVx6cHFqXs8?si=YF6UzTkg9eQEftW_" target="_blank" rel="noopener")
                    i.fa-regular.fa-envelope

    .footer-bottom
        p © 2025 Readify by Andrich Hoang. All rights reserved.